<div class="row">
  <div class="col-6 mx-auto">
    <form (ngSubmit)="addPosition()" [formGroup]="createPositionForm">
      <div class="form-group row">
        <input formControlName="currency" class="form-control" type="text" name="currency" placeholder="currency" />
        <div *ngIf="verifier('currency', 'required')" class="input-error">
          Champ obligatoire
        </div>
      </div>
      <div class="form-group row">
        <input class="form-control" formControlName="amount" type="text" name="amount"
          placeholder="amount" />
        <div *ngIf="verifier('amount', 'required')" class="input-error">
          Champ obligatoire
        </div>
        <div *ngIf="erreurMessage" class="input-error">
          Erreur : {{erreurMessage}}
        </div>
      </div>
      <div class="form-group row align-items-center">
       
          <button class="btn btn-primary">Create Position</button>
          <button style="margin-left:20px;" type="button" 
          class="btn btn-primary" routerLinkActive="active" [routerLink]="['/positionFacade']">Position</button>
    </div>
    
    <div class="alert alert-success" role="alert" *ngIf="sucess">
      {{message}}
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="error">
     {{message}}
    </div>
    </form>
  </div>
</div>